.container {
  width: 85%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-top:17px;
}

body {
  background-color: #393E46;
} 
.refresh{
  
  margin: -37px 0px 0px 0px;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  display:inline-block;
  font-weight:bolder;
}
.reb{
  background: #e3e4e4;
  color: #000;
  font-size: 19px;
  font-family: 'Courgette', cursive;
  border-radius: 27px;
  display: block;
  margin: 0px auto;
  padding: 7px 7px;
  box-shadow: 1px 5px black;
  border: 1px solid black;
}
.flag1{
  display: none;
  width: 12%;
  height: 150px;
  transform:translate(0px, 55px);
} 

.flag2{
  display: none; 
  width: 12%;
  height: 150px;
  transform: translate(0px, 52px);
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
